<footer class="footer">
    <div class="footer-container">
  
      <!-- Column 1: Brand -->
      <div class="footer-column">
        <h3>MyApp</h3>
        <p>Empowering your productivity with modern tools and solutions.</p>
      </div>
  
      <!-- Column 2: Links -->
      <div class="footer-column">
        <h4>Quick Links</h4>
        <ul>
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="/contact">Contact</a></li>
          <li><a routerLink="/dashboard">Dashboard</a></li>
          <li><a routerLink="/todo">Todo</a></li>
        </ul>
      </div>
  
      <!-- Column 3: Contact Info -->
      <div class="footer-column">
        <h4>Contact Us</h4>
        <p>Email: support&#64;devdigi.com</p>
        <p>Phone: +92 300 1234567</p>
      </div>
  
      <!-- Column 4: Social Media -->
      <div class="footer-column">
        <h4>Follow Us</h4>
        <div class="social-links">
          <a href="#"><i class="fab fa-facebook"></i> Facebook</a>
          <a href="#"><i class="fab fa-twitter"></i> Twitter</a>
          <a href="#"><i class="fab fa-instagram"></i> Instagram</a>
        </div>
      </div>
  
    </div>
  
    <div class="footer-bottom">
      <p>&copy; {{ currentYear }} MyApp. All rights reserved.</p>
    </div>
  </footer>
  